<p id="notice"><%= notice %></p>

<p>
  <strong>Student first name:</strong>
  <%= @student.student_first_name %>
</p>

<p>
  <strong>Student last name:</strong>
  <%= @student.student_last_name %>
</p>

<p>
  <strong>Student email:</strong>
  <%= @student.student_email %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
